<?xml version="1.0"?>    <config>    
    <modules>
        <ChicagoCubs_Roster>
            <version>
                0.1.0
            </version>
        </ChicagoCubs_Roster>
    </modules>
	<frontend>
        <routers>
           <roster> 
                <use>standard</use>
                <args>
                    <module>ChicagoCubs_Roster</module>
                    <frontName>roster</frontName>
                </args>
            </roster>
        </routers>
    </frontend>
</config>
