<?xml version="1.0"?>
<config>
    <modules>
        <ChicagoCubs_Roster>
            <version>0.1.0</version>
        </ChicagoCubs_Roster>
    </modules>

    <global>
        <models>
            <chicagocubs_roster>
                <class>ChicagoCubs_Roster_Model</class>
                <resourceModel>chicagocubs_roster_resource</resourceModel>
            </chicagocubs_roster>
            <chicagocubs_roster_resource>
                <class>ChicagoCubs_Roster_Model_Resource</class>
                <entities>
                    <players>
                        <table>Players</table>
                    </players>
                </entities>
            </chicagocubs_roster_resource>
        </models>

        <helpers>
            <chicagocubs_roster>
                <class>ChicagoCubs_Roster_Helper</class>
            </chicagocubs_roster>
        </helpers>

        <blocks>
            <chicagocubs_roster>
                <class>ChicagoCubs_Roster_Block</class>
            </chicagocubs_roster>
        </blocks>

        <resources>
            <chicagocubs_roster_setup>
                <setup>
                    <module>ChicagoCubs_Roster</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chicagocubs_roster_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <roster>
                <use>standard</use>
                <args>
                    <module>ChicagoCubs_Roster</module>
                    <frontName>roster</frontName>
                </args>
            </roster>
        </routers>
    </frontend>

    <frontend>
        <layout>
            <updates>
                <chicagocubs_roster>
                    <file>chicagocubs_roster.xml</file>
                </chicagocubs_roster>
            </updates>
        </layout>
    </frontend>
</config>
